#dropDown{
 display: none;
 border: solid 2px;
 position:absolute;
 top:100%;
}
#block:hover #dropDown{
  display: block;
  
}

.blue{
  color:  #1398EA ;
}
.grey{
  color: grey;
}
li{
  list-style-type: none;
}
.style{
  display:flex;
  justify-content:space-around;
  position:relative;
  border-bottom: 2px  solid #1398EA ;
  width:250px;
}

 a{

  text-decoration: none;
 }